URxvt.scrollBar:	 false
URxvt.cursosBlink: 	true
!URxvt.borderColor: 	#1c2023
URxvt.termnane:		rxvt-256color
URxvt.font:         xft:Hack:size=9
URxvt.internalBorder:   0
Urxvt.externalBorder:   0
Urxvt.borderWidth:      0

! Perl extensions 
URxvt.perl-ext-common: selection-to-clipboard

urxvt*dynamicColors: on
xterm*dynamicColors: true

! Colors
! hard contrast: *background: #1d2021
*background: #2e3042

! soft contrast: *background: #32302f
*foreground: #e1f2f5
    pass

! Black + Dark Grey
*color0:    #2e3042
*color8:    #2e3042

! DarkRed + Red
*color1:    #d23465
*color9:    #d23465

! DarkGreen + Green
*color2:    #22cfaa
*color10:   #22cfaa

! DarYellow + Yellow
*color3:    #e0b136
*color11:   #e0b136

! DarkBlue + Blue
*color4:    #7195de
*color12:   #7195de

! DarkMagenta + Magenta
*color5:    #8574de
*color13:   #8574de

! DarkCyan + Cyan
*color6:    #61b3df
*color14:   #61b3df

! LightGrey + White
*color7:    #e1f2f5
*color15:   #e1f2f5
